{% extends "base.html" %}
{% load static %}
{% block content %}


    <!-- Begin page content -->

    <main class="flex-shrink-0">

        <!-- Header/Navbar Start -->

        <header id="about-page-header">
         {% include 'navbar-2.html' %}

            <section class="container mt-3 mt-lg-5">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="mt-3 mt-lg-5">
                            <h3 class="about-master-title">{{abouts.section_Title}}</h3>
                        </div>
                        <div class=" mt-2 mt-lg-5">
                            <p>{{abouts.description}}</p>
                            <p><a href="">Join our team <i class="fa-solid fa-arrow-right-long"></i></a></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <img class="about-image" src="{{abouts.image.url}}" alt="">
                    </div>
                </div>
            </section>
        </header>

        <!-- Header/Navbar End -->

        <!-- ======================== Body main part start ==================== -->

        <!-- Vision Start -->

        <section class="container mt-3 mt-lg-5 pb-3 pb-lg-5 border-bottom">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <h1 class="about-section-title">Vision</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <h4 class="fw-normal">{{abouts.vision}}</h4>
                </div>
            </div>
        </section>

        <!-- Core values Start -->

        <section class="container mt-3 mt-lg-5 pb-3 pb-lg-5 border-bottom">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <h1 class="about-section-title">Core Values</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="accordion">
                        {% for value in values %}
                        <div class="accordion-item border-0">
                            <button id="accordion-button-1" aria-expanded="false">
                                <span class="accordion-title">{{value.title}}</span>
                                <span class="icon" aria-hidden="true"></span>
                            </button>
                            <div class="accordion-content">
                                <p>
                                   {{value.content}}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <section class="container">
            <h5 class="text-secondary mb-lg-5 mb-3 mt-3 mt-lg-5">OUR LEADERSHIP TEAM</h5>
        </section>
        <!-- ======================== Body main part End ==================== -->

    </main>
{% include "footer.html" %}

{% endblock content %}
