{% load static %}
<footer class="footer mt-auto py-3">
    <div class="container pt-3 pt-lg-5 pb-3 pb-lg-5">
      <img id="footer-logo" src="{{settings.logo.url}}" alt="">

      <div class="mt-3 mt-lg-5">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-8">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-4">
                <h6 class="pb-2 pb-lg-3">Australia Office</h6>
                <p class="footer-text">{{settings.address}}.</p>
              </div>
              <div class="col-12 col-md-12 col-lg-4">
                <img class="w-25 rounded" src="{% static 'asset/images/icons/354_nsw.jpg' %}" alt="">
                <p class="pt-3"><a target="_blank" href="https://buy.nsw.gov.au/supplier/profile/139345">We're NSW
                    government registered supplier</a></p>
                <h6 class="pb-2 pb-lg-3">ABN : {{settings.abn}}</h6>
              </div>
              <div class="col-12 col-md-12 col-lg-4">
                <!-- <h6 class="pb-2 pb-lg-3">Bangladesh</h6>
                <p>Suit 704, 6th Floor, TTI Bhaban, BITAC, Tejgoan I/A, Dhaka-1208, Bangladesh</p> -->
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3 col-lg-2">
            <h6 class="pb-2 pb-lg-3">Useful Links</h6>
            <div>
              <a href="{% url 'product' %}">Products</a> <br>
              <a href="{% url 'about' %}">About Us</a> <br>
              <a href="{% url 'career' %}">Career</a> <br>
              <a href="{% url 'contact' %}">Get in touch</a>
            </div>
          </div>
          <div class="col-12 col-md-3 col-lg-2">
            <h6 class="pb-2 pb-lg-3">Services</h6>
            <div>
              <a href="">Retail</a> <br>
              <a href="">Commercial</a> <br>
              <a href="">Corporate</a> <br>
              <a href="">Smarter Delivery</a>
            </div>
          </div>
        </div>

        <!-- social media -->
        <div class="">
          <p class="footer-text">Follow us</p>

          <a href="https://{{settings.facebook}}"><i class="fa-brands fa-facebook footer-social"></i></a>
          <a href="https://{{settings.linkedin}}"><i class="fa-brands fa-linkedin-in footer-social"></i></a>
          <a href="https://{{settings.youtube}}"><i class="fa-brands fa-youtube footer-social"></i></a>
          <a href="https://{{settings.instagram}}"><i class="fa-brands fa-instagram footer-social"></i></a>
        </div>
      </div>

      <div class="mt-3 mt-lg-5 border-top border-1">
        <p class="footer-text pt-3 pt-lg-5">
          &copy;
          
          {{settings.year}} {{settings.site_Name}}. All Rights Reserved <a
            class="policy" href="">Privacy Policy</a>
        </p>
      </div>

    </div>
  </footer>