{% extends "base.html" %}
{% load static %}
{% block content %}


  <!-- Begin page content -->

  <main class="flex-shrink-0">

    <!-- Header/Navbar Start -->
    <header id="home_page_header" style="background: rgba(0, 0, 0, 0.550) url({{img.background.url}}); background-repeat: no-repeat; background-size: cover; background-position: center center; max-width: 100%; background-blend-mode: darken;">
    {% include 'flashNews.html' %}
    {% include "navbar.html" %}
  
      <!-- Navbar attached Under Hero Section Start -->
  
      <div class="container" id="header_hero_section">
        <section class="home">
          <div class="row">
            <div class="home-text">
              <p class="animate-text">
                {% for title in titles%}
                <span>{{title.name}}</span>
                {% endfor %}
              <h1 class="bottom_up_fixed_title">made right way.</h1>
              </p>
            </div>
          </div>
        </section>
  
        <section class="container p-0">
          <div class="overflow-hidden p-0 mt-5">
            <div class="row gy-5 p-0">
              <div class="col-12 col-md-7 col-lg-7">
                <div class="border-top">
                  <h5 class="hero_subtitle">{{settings.description}}</h5>
                </div>
              </div>
              <div class="col-12 col-md-5 col-lg-5">
                <div class="border-top ">
                  <a href="">Learn more about OS IT <i class="fa-solid fa-arrow-right-long"
                      style="color: #34aae2; margin-left: 30px; margin-top: 50px;"></i></a> <br>
                  <a href="">Explore our services <i class="fa-solid fa-arrow-right-long"
                      style="color: #34aae2; margin-left: 30px;"></i></a>
                </div>
              </div>
            </div>
          </div>
        </section>
  
      </div>
    </header>
   

    <!-- Header/Navbar End -->

    <!-- ======================== Body main part start ==================== -->

    <!--  -->

    <section>
      <div class="container mt-lg-5 mt-3 pb-lg-5 pb-3">
        <h3 class="text-secondary mb-lg-5 mb-3">Key Services</h3>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 gy-5">
          {% for service in services %}
          <div class="col">
            <div class="card h-100 border-0">
              <img src="{{service.icon.url}}" class="services-card-icon" alt="...">
              <div class="card-body p-1">
                <a class="service-card-title" href="{% url 'service-details' service.id %}">
                  <h5 class="card-title pt-3 pb-3">{{service.title}}</h5>
                </a>
                <p class="card-text">{{service.description}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- Take Free Consultency Section Start -->

    {% include 'free-consultency.html' %}

    <!-- Take Free Consultency Section End -->

    <!-- ======================== Body main part End ==================== -->

  </main>



{% include 'footer.html' %}

{% endblock content %}

 