{% extends "base.html" %}
{% load static %}
{% block content %}


    <!-- Begin page content -->

    <main class="flex-shrink-0">

        <!-- Header/Navbar Start -->

        <header id="about-page-header">
          {% include "navbar-2.html" %}

            <section class="container mt-4 pb-3">

                <img class="rounded mx-auto d-block" src="{{backgrounds.error_Image.url}}" alt="">

            </section>
        </header>

        <!-- Header/Navbar End -->

        <!-- ======================== Body main part start ==================== -->

        <!-- ======================== Body main part End ==================== -->

    </main>
{% include "footer.html" %}
{% endblock content %}